html
  head
    meta(charset='utf-8')
    style
      include auth.css
  body
    div(class='container')
      section(id='content')
        block auth
          form(name= 'auth', method='post', action='/auth')
            h1 Авторизация
            div
              input(type='text', name='username', value='user', placeholder='Логин', id='username', required)
            div
              input(type='password', name='password', value='123' placeholder='Пароль', id='password')
            div
              input(type='submit', value='Войти') 
          